examples/quickstart.json
[
  {
    "id": "a6778c12.cb6e4",
    "type": "ttn device",
    "z": "fee24d26.485d6",
    "name": "",
    "dev_id": "",
    "event": "#",
    "x": 140,
    "y": 120,
    "wires": [
      [
        "f994084d.3c72c8"
      ]
    ]
  },
  {
    "id": "4fbb8778.00588",
    "type": "ttn message",
    "z": "fee24d26.485d6",
    "name": "",
    "dev_id": "",
    "field": "",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "3384eda4.27cdf2",
        "9093e98e.913da8"
      ]
    ]
  },
  {
    "id": "9093e98e.913da8",
    "type": "function",
    "z": "fee24d26.485d6",
    "name": "function",
    "func": "\nreturn {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    schedule: \"replace\",\n    confirmed: false,\n    payload: {\n        led: !msg.led,\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 240,
    "wires": [
      [
        "108283ac.bbf61c",
        "cf74ac5b.14b91"
      ]
    ]
  },
  {
    "id": "f994084d.3c72c8",
    "type": "debug",
    "z": "fee24d26.485d6",
    "name": "device",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 510,
    "y": 120,
    "wires": []
  },
  {
    "id": "3384eda4.27cdf2",
    "type": "debug",
    "z": "fee24d26.485d6",
    "name": "message",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 520,
    "y": 180,
    "wires": []
  },
  {
    "id": "108283ac.bbf61c",
    "type": "debug",
    "z": "fee24d26.485d6",
    "name": "function",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 520,
    "y": 240,
    "wires": []
  },
  {
    "id": "cf74ac5b.14b91",
    "type": "ttn send",
    "z": "fee24d26.485d6",
    "name": "",
    "dev_id": "",
    "port": "",
    "confirmed": false,
    "schedule": "replace",
    "x": 520,
    "y": 300,
    "wires": []
  }
]
